---
const { image, title = 'Título', avatar, children } = Astro.props;
---
<html lang="es" class="h-full">
  <head>
    <link rel="icon" type="image/png" href="/music_icon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col items-center justify-center relative">
    <div class="absolute inset-0 -z-10 bg-cover bg-center" style={`background-image:url('${image}')`}></div>
    <div class="absolute inset-0 -z-10 bg-black/40"></div>
    {avatar && <img src={avatar} alt="Avatar" class="w-24 h-24 rounded-full mb-4 shadow-lg" />}
    <main class="w-full max-w-md p-6 rounded-xl bg-white/80 shadow-xl relative">
      {children}
    </main>
  </body>
</html>
<style is:global>
@import '../assets/styles/tailwind.css';
</style>
